PORT=5000
DATABASE_URL=postgresql://life:a26YjFvRhCCyCVuGdJGgl70ZMkuHw9vW@dpg-d9fs1a3bc2fs73edjvhg-a.oregon-postgres.render.com/controldatabase
JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
NODE_ENV=development
